/* Base styles */
body {
  font-family: 'Georgia';
  color: #22223B;
  background-color: #F2E9E4;
  font-size: 30px;
}

.formcontainer {
  width: 80%;
  max-width: none;
  margin: 10;
  padding: 20px;
  border: none;
}

header, footer, main {
  padding: 30px;
  background-color: #F2E9E4;
  color: #22223B;
}

header {
  display: flex;        /* Enables flexbox layout within the header */
  flex-direction: column; /* Stacks the h1 and paragraph vertically */
  align-items: center;  /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically if there's space */
  border-bottom: 2px solid #9A8C98;
}

header p {
  text-align: center;   /* Centers the text within the paragraph */
  margin: 20px 0;       /* Adds space above and below the paragraph */
}

header a {
  margin: 0 10px;       /* Adds horizontal space between the links */
  text-decoration: none; /* Optional: removes underline from links */
  background-color: #C9ADA7; /* Background color for buttons */
  color: white;         /* Text color for buttons */
  padding: 10px 15px;   /* Padding inside the links, making them look like buttons */
  border-radius: 5px;   /* Rounded corners for the buttons */
}

header a:hover {
  background-color: #9A8C98; /* Darker color on hover for buttons */
}

h1, h2, h3 {
  color: #22223B;
}

a, input[type="submit"] {
  font-family: 'Georgia';
  background-color: #C9ADA7;
  width: 30%;
  color: white;
  padding: 7px 9px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center
}

a:hover, input[type="submit"]:hover {
  background-color: #9A8C98;
  color: #22223B;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select {
  padding: 8px;
  border: 1px solid #9A8C98;
  border-radius: 4px;
  width: 80%;

  box-sizing: border-box;
}

li {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.container {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures the header and footer are pushed to the ends */
}


footer {
  margin-top: auto; /* Pushes the footer to the bottom of the container */
}

option {
font-size=15px;
}


#mainLeft {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chart {
    width: 400px;
    height: 400px;
    margin: auto;
}


div {
    text-align: center;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: black;
}
