{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <h1>Welcome to Last Resort Hotel</h1>
        <h2>- the Greatest hotel on earth!</h2>
        <img src="{{ url_for('static', filename='images/coverpicture.webp') }}" alt="coverpicture" height="600">
    </div>
    <div id='mainRight'>
        <h1>Select category of data to display</h1>
        <ul>
        <li><a href="{{ url_for('customers')}}">Customers</a></li>
        <li><a href="{{ url_for('facilities')}}">Facilities</a></li>
        <li><a href="{{ url_for('employees')}}">Human resources</a></li>
    </ul>
    </div>
</main>
{% endblock %}